
.section-selector-1 { background-color: var(--gray-200) }
.col-3 h3 { margin-bottom: 16px }

/* =============== Add your custom CSS below =========== */

header.theme-dark {
    background-color: #f6b9c8;
}

/* Purple badge */
header.theme-dark .badge {
    background-color: #6b4ce6;
    color: #ffffff;
    font-weight: 600;
    padding: 6px 18px;
    font-size: 0.9rem;
}


header.theme-dark h1,
header.theme-dark h2 {
    color: #1e2a42;
}


header.theme-dark h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    letter-spacing: -2px;
}



header.theme-dark .container-btn a.btn:nth-child(1):link,
header.theme-dark .container-btn a.btn:nth-child(1):visited {
    color: #c13572;
    border-color: #c13572;
}

header.theme-dark .container-btn a.btn:nth-child(1):hover,
header.theme-dark .container-btn a.btn:nth-child(1):focus,
header.theme-dark .container-btn a.btn:nth-child(1):active {
    color: #ffffff;
    background-color: #c13572;
    border-color: #c13572;
}


header.theme-dark .container-btn a.btn:nth-child(2):link,
header.theme-dark .container-btn a.btn:nth-child(2):visited {
    background-color: #c13572;
    border-color: #c13572;
    color: #ffffff;
}

header.theme-dark .container-btn a.btn:nth-child(2):hover,
header.theme-dark .container-btn a.btn:nth-child(2):focus,
header.theme-dark .container-btn a.btn:nth-child(2):active {
    background-color: #a82c64;
    border-color: #a82c64;
    color: #ffffff;
}
