
nav.theme-dark, nav.theme-dark ul.links-wrapper.active { background-color: #0f172a }

header.theme-dark   { background-color: #0f172a }

header.theme-dark  h1 { color: var(--sky-400); }

section.theme-dark   { background-color: #0f172a }

footer.theme-dark   { background-color: #0f172a }



/* Reduce spacing between stacked H2s in the header */
header .col-text h2 { line-height: 1.5; margin: 1.5; }
/* Slightly tighter spacing for section intro H3s */
.col-1 > h3 { line-height: 1.5; }


