/* Add your custom CSS here */

body { font-family: 'Outfit', sans-serif; }
header h1 {font-size: var(--font-size-xxxl); }

/* Section 1
.section-selector-1 > .badge span { background-color: var(--trend-700) }
.section-selector-1 > .badge span { color: var(--white-000) }
.section-selector-1 { background-color: var(--trend-700) }
.section-selector-1 > badge span {text-transform: uppercase;}


/*Section 2*/
/* .section-selector-2 { background-color: var(--trend-800) } */


/*Section 3*/
/* .section-selector-3 { background-color: var(--trend-700) } */


/*Section 4*/
/* .section-selector-4.theme-dark { background-color: var(--trend-700) }
.section-selector-4 div[class^='flex-cols-'] div[class^='col-'] figure.icon { color: var(--blue-300) } */

/* .section-selector-1 h2,
.section-selector-2 h2,
.section-selector-3 h2,
.section-selector-4 h2 {font-weight: 400 } */


.section-selector-2,
.section-selector-4{
    background: linear-gradient(to bottom left, #0a0f2c, #1a2b6d 60%, #5a3dd1);
}


.section-selector-1,
.section-selector-3,
.section-selector-5 {
    background: linear-gradient(to bottom left, #19071a, #5b1fa6 50%, #c018d1);
}



